Source/SimpleWindowsApp/Service References/SimpleWindowsService/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISettingsService_GetOutputMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutputMessage" />
  </wsdl:message>
  <wsdl:message name="ISettingsService_GetOutputMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutputMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISettingsService_SetOutputMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOutputMessage" />
  </wsdl:message>
  <wsdl:message name="ISettingsService_SetOutputMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOutputMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="ISettingsService">
    <wsdl:operation name="GetOutputMessage">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ISettingsService/GetOutputMessage" message="tns:ISettingsService_GetOutputMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ISettingsService/GetOutputMessageResponse" message="tns:ISettingsService_GetOutputMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOutputMessage">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ISettingsService/SetOutputMessage" message="tns:ISettingsService_SetOutputMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ISettingsService/SetOutputMessageResponse" message="tns:ISettingsService_SetOutputMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>